{% extends 'base.html' %}
{% load static %}
{% block title %}Editar Paciente{% endblock title %}

{% block content %}
    <div class="contenedor">
        <h1>Editar paciente</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col-auto">
                    <a href="{% url 'paciente:index' %}" class="btn btn-danger">Cancelar</a>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
    