{% extends 'base.html' %}
{% block title %}Pacientes{% endblock title %}

{% block content %}


<div class="contenedor">
    <div class="tabla-centro">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Fecha Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                
                {% for paciente in lista_paciente %}
                <tr>
                    <th scope="row">{{ paciente.id_paciente }}</th>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                    <td>{{ paciente.fecha_nacimiento }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock content %}