{% extends 'base.html' %}
{% load static %}
{% block title %}Nuevo Paciente{% endblock title %}

{% block content %}
<div class="contenedor">
    <h1>Nuevo paciente</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombrePaciente" class="form-label">Nombre</label>
            {{ form_paciente.nombre }}
        </div>
        <div class="mb-3">
            <label for="apellidoPaciente" class="form-label">Apellido</label>
            {{ form_paciente.apellido }}
        </div>
        <div class="mb-3">
            <label for="fechaNacimientoPaciente" class="form-label">Fecha de Nacimiento</label>
            {{ form_paciente.fecha_nacimiento }}
        </div>
        <div class="mb-3">
            <label for="estadoCivilPaciente" class="form-label">Estado Civil</label>
            {{ form_paciente.id_estado_civil }}
        </div>
        <div class="mb-3">
            <label for="sexoPaciente" class="form-label">Sexo</label>
            {{ form_paciente.id_sexo }}
        </div>
        <div class="mb-3">
            <label for="direccionPaciente" class="form-label">Telefono</label>
            {{ form_telefono.telefono_paciente }}
        </div>
        <h3>Direccion</h3>
        <div class="mb-3">
            <label for="direccionPaciente" class="form-label">Municipio</label>
            {{ form_direccion.id_municipio }}
        </div>
        <div class="mb-3">
            <label for="sexoPaciente" class="form-label">Direccion</label>
            {{ form_direccion.direccion }}
        </div>
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'paciente:index' %}" class="btn btn-danger">Cancelar</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}