{% extends 'base.html' %}
{% load static %}
{% block title %}Nuevo Paciente{% endblock title %}

{% block content %}
<div class="container border rounded mt-4 mb-4">
    <h1 class="row justify-content-md-center mt-4">Nuevo contacto</h1>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="rounded border p-4 m-4">
                <h3>Contacto</h3>
                <div class="mb-3">
                    <label for="nombreContacto" class="form-label">Nombre</label>
                    {{ form.nombre_contacto }}
                </div>
                <div class="mb-3">
                    <label for="apellidoContacto" class="form-label">Apellido</label>
                    {{ form.apellido_contacto }}
                </div>
                <div class="mb-3">
                    <label for="responsableContacto" class="form-label">Responsable</label>
                    {{ form.responsable_contacto }}
                </div>
                <div class="mb-3">
                    <label for="tipoContactoContacto" class="form-label">Tipo de Contacto</label>
                    {{ form.id_tipo_contacto }}
                </div>
                <div class="mb-3">
                    <label for="telefonoTelefonoContacto" class="form-label">Telefono de Contacto</label>
                    {{ form.telefono_contacto }}
                </div>
                <div class="mb-3">
                    <label for="sexoContacto" class="form-label">Sexo</label>
                    {{ form.id_sexo_contacto }}
                </div>
            </div>
        </div>
        <div class="row m-4">
            <div class="col-auto">
                <a href="{% url 'paciente:index' %}" class="btn btn-danger">Cancelar</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
            
    </form>
</div>
{% endblock content %}