{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!--Psicoclinica-->
    <a class="navbar-brand" href="#">  
      <img src="{% static 'img/cube.png' %}" alt="cubo" width="35px">  
      Psicoclinica
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link 
          {% if active_paciente %}
            {{ active_paciente }}
          {% endif %}" href="{% url 'paciente:index' %}">Pacientes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <!--User-->
      <a class="navbar-brand" href="#">
        <img src="{% static 'bootstrap/icons/person-circle.svg' %}" alt="user">
        {{ request.user.first_name }} {{ request.user.last_name }}
      </a>
    </div>
  </div>
</nav>